<h2>Edit replacement</h2>

<%= render "form.html", changeset: @changeset,
                        action: replacement_path(@conn, :update, @replacement) %>

<%= link "Back", to: replacement_path(@conn, :index) %>
