<h2>Edit challenge set</h2>

<%= render "form.html", changeset: @changeset,
                        action: challenge_set_path(@conn, :update, @challenge_set) %>

<%= link "Back", to: challenge_set_path(@conn, :index) %>
