<h2>New challenge binary</h2>

<%= render "form.html", changeset: @changeset,
                        action: challenge_binary_path(@conn, :create) %>

<%= link "Back", to: challenge_binary_path(@conn, :index) %>
