<h2>New challenge set alias</h2>

<%= render "form.html", changeset: @changeset,
                        action: challenge_set_alias_path(@conn, :create) %>

<%= link "Back", to: challenge_set_alias_path(@conn, :index) %>
